<p class="text-right text-color-secondary">
    <a class="btn btn-sm btn-secondary" href="/home">Home</a>
    <a class="btn btn-sm btn-secondary" href="/region">Search</a>
    <a class="btn btn-sm btn-secondary" href="/add">Add</a>
    <a class="btn btn-sm btn-secondary" href="/review">Review</a>
    <a class="btn btn-sm btn-secondary" href="/users/logout">Logout</a>
</p>