<div class="container">
  <%- include('../common/navbar') -%>
  <form onsubmit="ajaxAdd()" id="poiAdd">
    
    <div class="form-group">
        <p>Details</p>
        <input
        type="text"
        class="form-control mb-1"
        name="name"
        id="name"
        placeholder="Name"
        required
        />
        <input
        type="text"
        name="type"
        id="type"
        class="form-control my-1"
        placeholder="Type"
        required
        />
        <input
        type="text"
        name="country"
        id="country"
        class="form-control my-1"
        placeholder="Country"
        required
        />
        <input
        type="text"
        name="region"
        id="region"
        class="form-control my-1"
        placeholder="Region"
        required
        />
        <div class="row">
            <div class="col-12 mt-1">
                Coordinates (lng & lat)
            </div>
            <div class="col-6">
                <input type="text" name="lon" id="lon" 
                class="form-control my-1" value="${e.latlng.lng}" required />
            </div>
            <div class="col-6">
                <input type="number" name="lat" id="lat" 
                class="form-control my-1" value="${e.latlng.lat}" required />
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-1">
                Description:
            </div>
            <div class="col-12">
                <textarea 
                name="description"
                id="description"
                class="form-control" 
                rows="3"
                placeholder="Place Of Interest Description"
                required></textarea>
            </div>
        </div>
    </div>
<button class="btn btn-outline-primary" type="submit">Submit</button>
</form>
</div>
    <ul id="results"></ul>
  <script>
    
    document
      .getElementById("poiAdd")
      .addEventListener("submit", function (event) {
        event.preventDefault();
      });

    async function ajaxAdd() {
      const body = {
        name: document.getElementById("name").value,
        type: document.getElementById("type").value,
        country: document.getElementById("country").value,
        region: document.getElementById("region").value,
        lat: document.getElementById("lat").value,
        lon: document.getElementById("lon").value,
        description: document.getElementById("description").value,
      };
      const response = await fetch("/poi/post", {
        method: "POST",
        headers: { "Content-type": "application/json" },
        body: JSON.stringify(body),
      });
    }
  </script>
</html>
