    <div class="container-fluid">
        <div class="row">
            <div class="col-9" style="position: fixed;">

                <div class="mt-2" id="map" style="width: auto; height: 98vh; "></div>
            </div>
            <div class="col-3 bg-light ml-auto " style="height: 100vh">
                <p class="text-right text-color-secondary">
                    <a class="btn btn-sm btn-secondary" href="/users/logout">Logout</a>
                </p>
                <h6 class="text-center ">Welcome <%= user.name %></h6>
                <h2 class=" text-center">Points Of Interest</h2>
                <hr>
                <form class="form-inline d-flex justify-content-center" onsubmit="ajaxSearch()" id="regionSearch">
                    <input class="form-control mr-sm-1" type="text" id="region" required autocomplete="off"
                        placeholder="Enter a Region">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
                <hr>
                <ul id="results" class="list-group"></ul>
            </div>



        </div>
    </div>
    </div>

    <script>
        document
            .getElementById("regionSearch")
            .addEventListener("submit", function (event) {
                event.preventDefault();
            });
        async function ajaxSearch() {


            let region = document.getElementById("region").value;
            let response = await fetch(
                `http://localhost:8080/poi/region/${region}`
            );
            let text = await response.json();
            console.log(text);
            if (text.data.length == 0) {
                alert("There are no places associated with inputted regions");
            } else {
                text.data.forEach((element) => {
                    document.getElementById(
                            "results"
                        ).innerHTML +=
                        `<li class="list-group-item">
                            <div class="row">
                                <div class="col-7">
                                    ${element.name}
                                </div>
                                <div class="col-5">
                                    <button class=" btn btn-sm btn-primary" onclick="ajaxRecommend(${element.id})">Recommend<i class="pl-1 fas fa-heart"></i></button>    
                                </div>
                            </div>       
                            </li>`;

                    L.marker([element.lat, element.lon])
                        .addTo(map)
                        .bindPopup(`Name: ${element.name} | ${element.description}`);
                });
            }
        }

        async function ajaxRecommend(id) {
            const response = await fetch(
                `http://localhost:8080/poi/recommend/${id}`
            );
        }

        const map = L.map("map").setView([40.505, -0.0], 2);

        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
            maxZoom: 18,
            minZoom: 2,
            attribution: "Map data &copy; " +
                '<a href="http://openstreetmap.org">OpenStreetMap</a>',
            id: "examples.map-i875mjb7",
            noWrap: true
        }).addTo(map);

        var popup = L.popup();

        function onMapClick(e) {
            popup
                .setLatLng(e.latlng)
                .setContent('Details for ' + e.latlng.toString() +
                    `<form onsubmit="ajaxAdd()" id="poiAdd">
                    <div class="form-group">
                        <input
                        type="text"
                        class="form-control my-1"
                        name="name"
                        id="name"
                        placeholder="Name"
                        autocomplete="off"
                        required
                        />
                        <input
                        type="text"
                        name="type"
                        id="type"
                        class="form-control my-1"
                        placeholder="Type"
                        autocomplete="off"
                        required
                        />
                        <input
                        type="text"
                        name="country"
                        id="country"
                        class="form-control my-1"
                        autocomplete="off"
                        placeholder="Country"
                        required
                        />
                        <input
                        type="text"
                        name="region"
                        id="region"
                        class="form-control my-1"
                        autocomplete="off"
                        placeholder="Region"
                        required
                        />
                        <div class="row">
                            <div class="col-12 mt-1">
                                Coordinates (lng & lat)
                            </div>
                            <div class="col-6">
                                <input type="number" autocomplete="off" name="lon" id="lon" 
                                class="form-control my-1" value="${e.latlng.lng}" required />
                            </div>
                            <div class="col-6">
                                <input type="number"autocomplete="off" name="lat" id="lat" 
                                class="form-control my-1" value="${e.latlng.lat}" required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-1">
                                Description:
                            </div>
                            <div class="col-12">
                                <textarea 
                                name="description"
                                id="description"
                                class="form-control" 
                                rows="3"
                                placeholder="Point Of Interest Description"
                                required></textarea>
                            </div>
                        </div>
                    </div>
                <button class="btn btn-outline-primary w-100" type="submit">Submit</button>
                </form>`)
                .openOn(map);
            console.log(e.latlng);
        }

        map.on("click", onMapClick);

        document
            .getElementById("poiAdd")
            .addEventListener("submit", function (event) {
                event.preventDefault();
            });

        async function ajaxAdd() {
            if (user) {
                alert("User Signed In")
            }
            const body = {
                name: document.getElementById("name").value,
                type: document.getElementById("type").value,
                country: document.getElementById("country").value,
                region: document.getElementById("region").value,
                lat: document.getElementById("lat").value,
                lon: document.getElementById("lon").value,
                description: document.getElementById("description").value,
            };
            const response = await fetch("/poi/post", {
                method: "POST",
                headers: {
                    "Content-type": "application/json"
                },
                body: JSON.stringify(body),
            });
        }
    </script>
    </body>

    </html>