<!DOCTYPE html>
<html>
  <head>
    <title>Leaflet Quick Start Guide Example</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
  </head>
  <body>
    <form onsubmit="ajaxSearch()" id="regionSearch">
      <input type="text" id="region" required autocomplete="off" />

      <button type="submit">Region Search</button>
    </form>

    <div id="map" style="width: 89vw; height: 96vh"></div>

    <ul id="results"></ul>

    <script></script>
    <script>
      document
        .getElementById("regionSearch")
        .addEventListener("submit", function (event) {
          event.preventDefault();
        });

      async function ajaxSearch() {
        let region = document.getElementById("region").value;
        let response = await fetch(
          `http://localhost:8080/poi/region/${region}`
        );
        let text = await response.json();
        res = text;

        console.log(text);
        if (text.data.length == 0) {
          alert("There are no places associated with inputted regions");
        } else {
          text.data.forEach((element) => {
            document.getElementById(
              "results"
            ).innerHTML += `Name: ${element.name} | Recommendations: ${element.recommendations} <button onclick="ajaxRecommend(${element.id})">Recommend</button></li>`;

            L.marker([element.lat, element.lon])
              .addTo(map)
              .bindPopup(`${element.id} | Name: ${element.name} | ${element.description}`);

            var popup = L.popup();
          });
        }
      }

      async function ajaxRecommend(id) {
        const response = await fetch(
          `http://localhost:8080/poi/recommend/${id}`
        );
      }

      const map = L.map("map").setView([40.505, -0.0], 2);

      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 18,
        attribution:
          "Map data &copy; " +
          '<a href="http://openstreetmap.org">OpenStreetMap</a>',
        id: "examples.map-i875mjb7",
        noWrap: true
      }).addTo(map);

      function onMapClick(e) {
        popup
          .setLatLng(e.latlng)
          .setContent("You clicked the map at " + e.latlng.toString())
          .openOn(map);
      }

      map.on("click", onMapClick);
    </script>
  </body>
</html>
