<div class="container">
  <%- include('../common/navbar') -%>
  <form onsubmit="ajaxReview()" id="poiReview">
    <div class="form-group">

      Description:
      <input class="form-control mr-sm-1 mb-3" type="text" id="id" required autocomplete="off"
        placeholder="Enter an id">
      <textarea name="review" id="review" class="form-control" rows="3"
        placeholder="Place Of Interest review" required></textarea>
    </div>
    <button class="btn btn-outline-primary w-100" type="submit">Submit</button>
  </form>
</div>
<ul id="results"></ul>
<script>
  document
    .getElementById("poiReview")
    .addEventListener("submit", function (event) {
      event.preventDefault();
    });

  async function ajaxReview() {
    const body = {
      id: document.getElementById("id").value,
      review: document.getElementById("review").value,
    };
    const response = await fetch("/poi/review", {
      method: "POST",
      headers: {
        "Content-type": "application/json"
      },
      body: JSON.stringify(body),
    });
  }
</script>

</html>